 * table, td,th {
 	border: 1px solid;
 	border-color: black;

 }

table{
	width: 90%;
}
body{
	background-color:whitesmoke;
}
.no{
	background-color: black;
	color: white;
	float: right;
}
.spot{
	background-color: yellow;
}
a{
	color: red;
	text-decoration: none;
}
.sec{
	text-align: justify;
}
.blue{
	background-color: blue;
	height: 15px;

}
.village{
	font-size: 50px;
	font-weight: bolder;
	column-span: 2;
}
.logo{
     height: 200px;
}
.acc{
	row-span: 2;
}